.form {
  display: flex;
  align-items: center;
  background-color: var(--cor-secundaria);
  padding: 16px;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.campo {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--cor-borda);
  border-radius: 4px;
  margin-bottom: 16px;
}

.btnPesquisar {
  background-color: var(--cor-principal);
  border: none;
  height: 40px;
  padding: 0 16px;
  font-size: 18px;
  color: var(--cor-secundaria);
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
}


